# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -4

AlignArrayOfStructures: Left

AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true
    AlignCompound: true
    PadOperators: true

AlignConsecutiveMacros: 
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true
    AlignCompound: true
    PadOperators: true

AlignConsecutiveBitFields:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true
    AlignCompound: true
    PadOperators: true

AlignConsecutiveDeclarations:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true
    AlignCompound: true
    PadOperators: true

# AllowShortLoopsOnASingleLine: true
#AllowShortCompoundRequirementOnASingleLine: true
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator   
AlignTrailingComments: false

AllowAllArgumentsOnNextLine: true 
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse 
AllowShortLambdasOnASingleLine: true

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: No


AttributeMacros: 
  - __capability

BasedOnStyle: LLVM
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both

BreakBeforeBraces: Custom
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
  BeforeWhile: false

BreakAfterAttributes: Never 
BreakAfterJavaFieldAnnotations: false
BreakArrays: false
BreakBeforeBinaryOperators: All
BreakBeforeConceptDeclarations: false
BreakBeforeInheritanceComma: true
BreakBeforeInlineASMColon: Never
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterColon
BreakStringLiterals: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth : 1
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
DeriveLineEnding: true
ColumnLimit: 100

DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier : Always
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: false

ForEachMacros: 
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH

IncludeBlocks: Preserve
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentGotoLabels: true
IndentPPDirectives: None
IndentRequires: true
IndentWidth: 4
IndentWrappedFunctionNames: true

IntegerLiteralSeparator:
    Binary: 3
    Decimal: 3
    DecimalMinDigits: 4
    Hex: 0

Language: Cpp
LineEnding: CRLF
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All

PointerAlignment: Right

SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: After
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:

    AfterControlStatements: true
    AfterForeachMacros: true
    AfterFunctionDeclarationName: false
    AfterFunctionDefinitionName: false
    AfterIfMacros: true 
    AfterOverloadedOperator: true
    AfterRequiresInClause: false
    AfterRequiresInExpression: false
    BeforeNonEmptyParentheses: false

RequiresExpressionIndentation: OuterScope
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++20
PackConstructorInitializers: NextLine
PenaltyBreakAssignment: 2

QualifierAlignment : Left

TabWidth : 4
UseCRLF: true
UseTab: Never

...
