/Binaries
/DerivedDataCache
/Intermediate
/Saved
/Download
# Ignore everything in the Content directory

# Ignorar tudo na pasta Content
Content/*

!/Content/_Game/

!/Content/_Game/*
!/Content/_Game/Assets/Curves/*
/Content/_Game/Mixamo/
/Content/_Game/Maps/
/Content/_Game/Assets

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.jar