/Binaries
/DerivedDataCache
/Intermediate
/Saved
/Download
# Ignore everything in the Content directory
Content/_Game/Mixamo
Content/_Game/Maps
Content/*


# Except for the Content_Game directory
!/Content/_Game/

# And everything inside the Content_Game directory
!/Content/_Game/*
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace